  
#####################################################
#
# List of approvers for qubership-nifi-registry
#
#####################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @dmitry618